.projects{
    display: flex;
    flex-wrap: wrap;
    max-height: 25rem;
    max-width: 25rem;
    margin: auto;

    padding-left: 5%;
    padding-left: 5%;
}

.projects_photos{
    max-height: 30%;
    max-width: 30%;
}

.projectItems{
    padding: 5%;
    min-height: 100%;
    min-width: 100%;
    margin: 3%;
    border:1px solid black;
    background:white;
    overflow: hidden;
}
.projectItems:hover{
    background-color: black;
    color: white;
}
.project_item-img{
    max-width: 100%;
    max-height: 100%;
}
.project_name{
    position: absolute;
}

.modal{
    display: none;

    min-height: 30vh;
    min-width: 80%;
    left:50%;
    top:40%;
    /* position: absolute; */
    overflow-y: scroll;
    transform: translate(-50% ,-50%);
    background-color: orange;   
}
.modal-pictures-picture{
max-width: 100%;
max-height: 100%;
margin: auto 1px ;

}

.show{
    display: flex;
    position: absolute;
}

.close-button{
    height: 1.5rem;
    width: 1.5rem;
    background-color: black;
    color: white;
    border-radius: 50%;
   display:flex;
}
