#materialsList {
    list-style: none;
    color: #7c8798;
    text-decoration: none;
    padding: 2rem;
    max-height: none;
}

.Granite,
.Marble,
.Quartz,
.Quartzite {
    max-height: 16rem;
    padding: 1rem;
}

.diffMaterial {}