.contactContain {
    height: 1000px;
}

.backgroundImg {
    background-image: url('../../assets/complete-kitchen-white-granite-grey-cabinets-medium.jpg');
    background-position: center;
    background-color: #7c8798;
    background-repeat: no-repeat;
    padding: 20em;
    /* background-size: cover; */
    outline: 2px solid black;

    /* background-blend-mode: multiply or lighten; */

}



#contactForm {
    padding: 1rem;
    display: grid;
    max-width: 80%;
    min-width: 50%;
    margin: auto;
    /* background-color: aqua; */
    float: left;
}

.formText {
    font-family:
        'Segoe UI',
        'Roboto',
        'Oxygen',
        'Ubuntu',
        'Cantarell',
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-weight: 500;
    margin: 1rem 1rem 0rem 0rem
}

.userInput {
    min-height: 2rem;
    /* max-width: 18rem; */
}

/* .inputName {
    width: 30%;
} */

.emailSection,
.phoneSection,
.nameSection,
.messageSection {
    width: 70%;
}

.inputEmail,
.inputPhone,
.inputName {
    width: 100%;
}

.inputText {
    resize: none;
    height: 10rem;
    width: 100%;
}

.button {
    height: 2rem;
    width: 100%;
    font-size: inherit;
    font-weight: 700;
    color: #ffff;
    background: #7c8798;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.sub_section {
    background-color: #f2f2f2;
    display: block;
    max-width: 25rem;
    min-width: 10rem;
    float: left;
    padding: 1rem;
}

.formLogo {
    display: block;
    max-height: 14rem;
    margin: auto;
}

.questionsEnglish {
    border-top: solid 2px black;
}

.spanish {
    margin-top: 1rem;
}

@media screen and (min-width: 822px) {

    #contactForm {
        float: none;
    }

    .emailSection,
    .phoneSection,
    .nameSection,
    .messageSection {
        width: 100%;
    }
}

/* .contactContain {
    color: #929292;
    max-width: 80%;
}

@media screen and (min-width:480px) {
    .contactContain {
        display: flex;
        margin: 0 20%;
    }

    ;
}

.formTitle {
    color: black;
} */

/* #contactForm {
    min-width: 20rem;
    max-width: 30rem;
    float: left;
    border: #fcdb03 solid 2px;
    border-radius: 7px;
    border-left: #fcdb03 solid 2px;
    margin: 2rem;

    padding: 1rem;
    background-image: linear-gradient(to right, transparent, black), url("../Modal/assets/black-marble-patterned-texture-background.jpg");
}

#name,
#email,
#phone,
#message {
    max-width: 32rem;
    min-width: 18rem;
    min-height: 4rem;
    font-family: 'Abril Fatface';
    color: white;
    margin: 6px 0;
    background-color: #0f0f0f;
    border: none;
}

.number {
    color: #929292;
    text-decoration: none;
}

.number:hover {
    color: #252d37;
    text-decoration: underline;
}

.message {
    min-height: 9rem;
}

#submit {
    display: block;
    margin-left: 41%;
    cursor: pointer;
    background: black;
    color: #929292;
    padding: 3% 5%;
    border: none;
    border-bottom: 1px solid #032cfc;
    border-right: 1px solid #032cfc;

}

.sub_section {
    margin: auto;
}

.contactInfo {
    border-top: #0390fc solid 2px;
    border-left: #0390fc solid 2px;
    float: left;
    max-width: 18rem;
    padding: .5rem;
    margin-top: 2rem;
    margin: auto;
}

.loyaHours {
    border-bottom: #fc0303 solid 2px;
    border-right: #fc0303 solid 2px;
    float: left;
    max-width: 17rem;
    min-width: 18rem;
    padding: .5rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

@media (max-width: 640px) {
    .sub_section {
        margin-left: 2rem;
    }
} */