<h1>inside calc</h1>
<form action="/calc" method="post" >
    <input type="number" name="unitOne" id="unitOne">
    <input type="number" name="unitTwo"  id="unitTwo">
    <button type="submit">Submit</button>


    <%= answer  %> 
</form>