article {
    display: flex;
}

.starRating {
    color: #fcdb03;
}

.reviewItem {
    border: solid 2px black;
    padding: 1rem;
    /* min-width: 20rem;
    min-height: 12rem;
    margin: 2rem; */

}

.slick-slider {
    width: 85%;
    margin: auto;
}

.slick-prev::before,
.slick-next::before {
    color: #010000;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #7c8798;
}