.aboutContain {
    /* background-image: url(../Projects/projectAssets/assets/kitchen_counter_island_counters_lighter_black_cabinet.jpg); */
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: contain;
    background-position: right;
}

.granite {
    /* margin-top: 2rem;
    float: right; */
    background-image: url("../Projects/projectAssets/assets/kitchen_counter_island_counters_lighter_black_cabinet.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.aboutbottom {
    height: 1000px;
    /* background-color: black; */
}

.loyaGranite,
.aboutLoya {
    /* color: #fcdb03; */
    color: #929292;
    font-family: 'Roboto Slab', serif;
}


.aboutLoyaGraniteSection {
    border-bottom: #fcdb03 solid 2px;
    border-left: #fcdb03 solid 2px;
    clip-path: polygon(50% 0%,
            100% 25%,
            100% 75%,
            50% 100%,
            0% 75%,
            0% 25%);
    padding: .5rem;
    max-width: 25rem;
    margin: 1rem;
    float: left;
}

.loyaGraniteName {
    font-weight: 700;
    color: #929292;
}

.loyaGraniteName,
.aboutLoya {
    display: contents;
    vertical-align: top;
}

.reachUs {
    border-bottom: #0390fc solid 2px;
    border-left: #0390fc solid 2px;
    padding: .5rem;
    max-width: 19rem;
    margin: 1rem;
    float: left;
}

.moreAboutLoyaGranite {
    border-bottom: #fc0303 solid 2px;
    border-left: #fc0303 solid 2px;
    padding: .5rem;
    max-width: 49rem;
    margin: 1rem;
    float: left;
}

.logoImage {
    max-height: 19rem;
    float: left;
    margin-top: 2rem;
}


@media (max-width: 640px) {
    .logoImage {
        display: none;
    }

    .granite {
        max-width: 100%;
        margin-right: 1rem;
        margin-top: 0;
    }
}

@media (min-width: 641px) {

    .aboutLoyaGraniteSection,
    .reachUs {
        margin-top: 5rem;
        margin-left: 5rem;
    }
}