.granite {
    /* margin-top: 2rem;
    float: right; */
   background-image: url("../Projects/projectAssets/assets/kitchen_counter_island_counters_lighter_black_cabinet.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    

}