* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Modal {
    display: flex;
    align-items: center;
    min-height: 25vh;
    justify-content: center;

}

.divImage {
    position: absolute;
    min-height: 25vh;
    width: 100%;
    background-size: contain;

}

.divImage:hover {
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2) inset;
    filter: blur(25px);
}

.divBlackMarblePattern {

    background-image: url("./assets/black-marble-patterned-texture-background.jpg");
}

.divCloseUpBlackMarble {
    background-image: url('./assets/close-up-black-marble-textured-background.jpg');
}

.divStoneFloorTexture {
    background-image: url('./assets/stone-floor-texture.jpg');
}

/* import back from ;
import back2 from ;
import back3 from*/
.logo {
    z-index: 10;
    max-width: 17rem;
    max-height: 10rem;
    color: rgb(225, 225, 225);
    text-align: center;
    text-shadow: 0 0 1px black;


}


/* <a href="https://www.freepik.com/photos/limestone">Limestone photo created by kues1 - www.freepik.com</a>
    <a href="https://www.freepik.com/photos/black-marble">Black marble photo created by tirachard - www.freepik.com</a>
<a href="https://www.freepik.com/photos/black-marble">Black marble photo created by tirachard - www.freepik.com</a>
    */