.contactContain {
    /* display: flex; */
    color: white;
}

.formTitle {
    color: black;
}

.form {
    /* min-width: 20rem; */
    max-width: 30rem;
    float: left;
    /* border-top: #fcdb03 solid 2px;
    border-left: #fcdb03 solid 2px; */
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    color: black;
}

#name,
#email,
#phone,
#message {
    /* max-width: 32rem; */
    min-width: 18rem;
    min-height: 4rem;
    font-family: 'Abril Fatface';
    color: 032cfc;
    margin: 6px 0;
    background-color: aliceblue;
    border: none;
}

.message {
    min-height: 9rem;
}

#submit {
    display: block;
    margin-left: 41%;
    cursor: pointer;
}

.contactInfo {
    border-top: #0390fc solid 2px;
    border-left: #0390fc solid 2px;
    float: left;
    max-width: 18rem;
    padding: .5rem;
    margin-top: 2rem;
}

.loyaHours {
    border-bottom: #fc0303 solid 2px;
    border-right: #fc0303 solid 2px;
    float: left;
    max-width: 17rem;
    min-width: 18rem;
    padding: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* might have to add media query for  */

@media (max-width: 640px) {

    .contactInfo,
    .loyaHours {
        margin-left: 1rem;
    }
}