.fullNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    position: relative;
    height: 100vh;
    background: red;
}

.section {
position: absolute;
}

.about,
.projects,
.estimations {
    color: white;
}