.fullNav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    position: relative;
    height: 100vh;
    background: gray;
}

.container {
    padding: 0 1em;
    font-family: 'Abril Fatface',
        cursive;
    ;
}

.about,
.projects,
.estimations {
    color: white;
    max-width: 40rem;
    border: azure solid 2px;
    margin: auto;
}